@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=LXGW+WenKai+Mono+TC&family=Lexend:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
.pink-bg {
    background-color: rgb(249, 233, 235);
    box-shadow: 0px 4px 2px 0px rgba(219, 218, 218, 0.5)
}

.pink-bgg {
    background-color: rgb(251, 240, 232);
    box-shadow: 0px 4px 2px 0px rgba(219, 218, 218, 0.5)
}

.navbar-cont {
    box-shadow: 0px 4px 2px 0px rgba(219, 218, 218, 0.5)
}

.colorr {
    color: rgb(240, 60, 60);
}

.btn{
    box-shadow: 0px 8px 10px rgba(230, 51, 51, 0.15); /* Drop shadow at the bottom */
}
.btn:hover {
    box-shadow: 0px 8px 10px rgba(230, 51, 51, 0.2); /* Stronger shadow on hover */
  }  


.body {
    -webkit-font-smoothing: antialiased; /* For WebKit browsers */
    -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
    font-smooth: always; /* General font-smoothing */
}

.smooth-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}

.banter{
    font-family: "Bree Serif", serif;
}


